*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0af0d578;   
    display: flex;
    justify-content: center;
}
.bigBox{
    width: 900px;
    height: 300px;
    position: relative;
    top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.small{
    transition: .7s;
    overflow: hidden;
}
.bigBox img{
    width: 200px;
    height: 200px;
}
.small:hover{
    flex-shrink: 0;
    flex-grow: 0;
}